.booking {
  padding-top: 31px;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 65px;
  }
}

.booking__title {
  .font(21px; 700);
  color: @color-title;
  display: block;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 37px;
    .font(30px; 700);
  }
}

.booking__instruction {
  .font(@line-height: 24px);
  margin-bottom: 28px;

  .booking__br--mobile {
    display: none;

    @media (max-width: @mobile-width-only) {
      display: block;
    }
  }

  .booking__br {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.booking__button {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}
