.booking {
  padding-top: 33px;
  padding-bottom: 49px;
  outline: 2px solid green;
}

.booking__title {
  .font(21px; 700);
  color: @color-title;
}

.booking__instruction {
  .font(@line-height: 24px);
}
