.copyright__title {
  color: @color-title;
  font-weight: normal;
}

.copyright__link {
  vertical-align: middle;

  &:hover path {
    fill: @bg-color-first;
  }

  &:active path {
    fill: @bg-color-button-disabled;
  }
}
