.copyright__title {
  color: @color-title;
  font-weight: normal;
  margin-right: 8px;
  line-height: 35px;
}

.copyright__link {
  vertical-align: middle;
  display: inline-block;

  &:hover path {
    fill: @bg-color-first;
  }

  &:active path {
    fill: @bg-color-button-disabled;
  }

  svg {
    vertical-align: middle;
  }
}
