.features {
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 54px;
  }
}

.features__slogan {
  color: @color-title;
  .font(18px; 700; 28px);
  margin: 0 auto;
  padding: 0;
  margin-bottom: 28px;
  max-width: 270px;

  @media (min-width: @tablet-width) {
    .font(21px; 700; 28px);
    max-width: 610px;
  }
}

.features__text {
  margin: 0;
  padding: 0;
}

.features__list {
  .list-style-none;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: @mobile-width-only) {
    &::before {
      content: "";
      width: 320px;
      height: 37px;
      position: absolute;
      background-image: url("../../img/feature-triangle.svg");
      background-repeat: no-repeat;
      top: -20px;
    }
  }
}

.features__advices-list {
  list-style: none;
  margin: 0;
}

.features__item-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;

    &--invert {
      flex-direction: row-reverse;
    }
  }
}

.features__item-text {
  padding-bottom: 40px;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.features__item-text--background-first {
  background-color: @bg-color-first;
  color: @color-main-second;
  padding-top: 40px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 50px;
  }
}

.features__item:first-child .features__item-text--background-first {
  padding-top: 52px;

  @media (min-width: @tablet-width) {
    padding-top: 39px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 47px;
  }
}

.features__item--background-second {
  background-color: @bg-color-second;
  padding-top: 26px;
  padding-bottom: 25px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 280px;
      height: 1px;
      background-color: @border-color-features-mobile;
      bottom: 0;
      left: 50%;
      margin-left: -140px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 256px;
    padding-top: 40px;
    padding-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding-top: 40px;
    padding-bottom: 63px;
  }
}

.features__item-title {
  margin: 0 auto;
  padding: 0;
  color: @color-title;
  .font(18px; 700);
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    .font(21px; 700);
    margin-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 13px;
  }
}

.features__item-text--background-first .features__item-title {
  color: @color-main-second;

  @media (min-width: @tablet-width) {
    max-width: 200px;
  }
}

.features__item--background-second .features__item-title {
  @media (min-width: @tablet-width) {
    max-width: 150px;
  }
}

.features__item--background-second .features__item-description {
  @media (min-width: @tablet-width) {
    max-width: 180px;
  }

  @media (max-width: @mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    max-width: 290px;
  }
}

.features__item--background-second:nth-of-type(4) .features__item-description {
  @media (min-width: @tablet-width) {
    max-width: 140px;
  }

  @media (min-width: @desktop-width) {
    max-width: 270px;
  }
}

.features__item-number {
  .font(@line-height: 21px);
}

.features__item-description {
  padding: 0;
  margin: 0 auto;
  .font(@line-height: 21px);
  margin-top: 14px;

  @media (min-width: @tablet-width) {
    margin-top: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
  }
}

.features__item--background-first:first-of-type .features__item-description {
  @media (min-width: @desktop-width) {
    max-width: 290px;
  }
}

.features__item--background-first:nth-of-type(2) .features__item-description {
  @media (min-width: @tablet-width) {
    max-width: 190px;
  }

  @media (min-width: @desktop-width) {
    max-width: 230px;
  }
}

.features__item-photo {
  display: block;
  width: 100%;
}

.features__intro {
  margin: 0 auto;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 42px;
  }
}

.features__item-image {
  @media (min-width: @tablet-width) {
    width: 512px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.features__br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
