.page-header__logo-wrapper {
  height: 57px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -94px;
  }
}

.page-header__logo {
  position: relative;
}

.page-header__logo-image {
  @media (min-width: @desktop-width) {
    width: 187px;
    height: 96px;
  }
}
