.page-header {
  outline: 2px solid blue;
}

.page-header__logo-image {
  width: 102px;
  height: 84px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.main-navigation {
  outline: 2px solid green;
  outline-offset: -2px;
}
