.page-footer {
  padding-top: 38px;
  padding-bottom: 23px;
  outline: 2px solid green;
}

.page-footer__link {
  text-decoration: none;
  color: @color-title;
  .font(21px; 700);
}

.page-footer__social {
  .list-style-none;
}
