.photos {
  outline: 2px solid green;
}

.photos__description {
  margin: 0;
  padding: 0;
}

.photos__list {
  .list-style-none;
}

.photos__item {
  text-align: left;
}

.photos__title {
  .font(14px; 700; 24px);
  color: @color-title;
}

.photos__author {
  .font(@line-height: 24px);
}

.photos__like-button {
  cursor: pointer;
}

.photos__like-count {
  .font(14px; 700; 24px);
  color: @color-title;
}
