.video {
  padding-top: 32px;
  padding-bottom: 38px;
  outline: 2px solid blue;
}

.video__title {
  .font(18px; 700);
  color: @color-title;
}

.video__content {
  display: block;
}

.video-controls__progress {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 45px;
}

.video-controls__button-wrapper {
  background-color: @bg-color-third;
}
