@color-main: #333333;
@color-main-second: #ffffff;
@color-title: #000000;

@bg-color-first: #81b3d2;
@bg-color-second: #eeeeee;
@bg-color-third: #f2f2f2;
@bg-color-button-hover: #669ec0;
@bg-color-button-active: #5496bd;
@bg-color-button-disabled: #e5e5e5;
@bg-color-input: #f2f2f2;
@bg-color-input-hover: #e5e5e5;
@bg-color-input-focus: transparent;

@border-color-input: #e5e5e5;
