@color-main: #333333;
@color-main-second: #ffffff;
@color-title: #000000;

@bg-color-first: #81b3d2;
@bg-color-second: #eeeeee;
@bg-color-button-hover: #669ec0;
@bg-color-button-active: #5496bd;
@bg-color-button-disabled: #e5e5e5;
